
<ion-content padding>


    <ion-grid>
        <ion-row align-self-center>
            <ion-col>
                    <button class="large" ion-button clear block (click)="chooseImage()">
                        <ion-icon ios="ios-camera" md="md-camera" block></ion-icon>
                    </button>
                    <input type="file" (change)="handleFileSelect($event)" />
            </ion-col>
        </ion-row>
    </ion-grid>


    <h1 *ngIf="list.length > 0">Results</h1>
    <ion-list>

        <ion-item *ngFor="let item of list">
            {{ item }}
        </ion-item>

    </ion-list>

</ion-content>
