<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <button ion-button block (click)="loadCamera()">Camera</button>

    <button ion-button block (click)="chooseExisting()">Choose existing image</button>

    <button ion-button block (click)="getResults()">Get Results</button>

    <input type="file" (change)="handleFileSelect($event)" />

    <h1 *ngIf="list.length > 0">Results</h1>
    <ion-list>

        <ion-item *ngFor="let item of list">
            {{ item }}
        </ion-item>

    </ion-list>

</ion-content>
